
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">Logo</a>
		</div>
		<div class="action-wrap js-popup-wrap">
			<a href="" class="btn-action js-btn-popup-toggle" data-count="3">
				<span class="button-ico">
					<img src="./img/icons/list.svg" alt="">
				</span>
			</a>
			<div class="action-content-block js-popup-block">
				<ul class="menu">
					<li><a href="">Закупка 1</a></li>
					<li><a href="">Закупка 2</a></li>
					<li><a href="">Закупка 3</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- /header -->